{% extends 'base.html.twig' %}

{% block title %}Edit Rent{% endblock %}

{% block body %}
    <h1>Edit Rent</h1>

    {{ include('rent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rent_index') }}">back to list</a>

    {{ include('rent/_delete_form.html.twig') }}
{% endblock %}
