$background: #EDEAE5;
$blueDuck: #026670;
$yellowChick: #FCE181;
$color4: #9FEDD7;
$color5: #FEF9C7;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $background;
    height: 100vh;
}

.searchCar input {
    text-align: center;
    vertical-align: center;
    color: #000;
    border-radius: 0px !important;
    border-color: #000 !important;
    width: 200px;
    height: 30px;

    &:focus {
        box-shadow: none !important;
    }

    border-width: 1px !important;
    background-color: #EFEDED !important;

}

.searchCar select {
    text-align: center;
    vertical-align: center;
    color: #000;
    border-radius: 0px !important;
    border-color: #000 !important;
    border-width: 1px !important;
    background-color: #EFEDED !important;
    width: 200px;
    height: 30px;

    &:focus {
        border-color: blue($color: #000000) !important;
        box-shadow: none !important;
    }
}

.searchCar label {
    color: white;
}

.searchCar {
    max-width: 250px !important;
    display: flex;
    flex-direction: column;
    align-items: center
}

.formSearchCar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width: auto;
}

#returnLogo {
    height: 20px;
}

.card {
    border: 1px solid $blueDuck;
}

.button {
    background-color: $yellowChick;

    &:hover {
        background-color: darken(#FCE181, 10%);
    }
}

.blueDuck {
    background-color: $blueDuck;
}

.login {
    background-color: $blueDuck;
}


.home {
    max-width: 250px !important;
    display: flex;
    flex-direction: column;
    align-items: center
}

.formHome {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width: auto;
}

.homeMain {
    background-color: $blueDuck;
}

.home input {
    text-align: center;
    vertical-align: center;
    color: #000;
    border-radius: 0px !important;
    border-color: #000 !important;
    width: 200px;
    height: 30px;

    &:focus {
        box-shadow: none !important;
    }

    border-width: 1px !important;
    background-color: #EFEDED !important;

}

.home select {
    text-align: center;
    vertical-align: center;
    color: #000;
    border-radius: 0px !important;
    border-color: #000 !important;
    border-width: 1px !important;
    background-color: #EFEDED !important;
    width: 200px;
    height: 30px;

    &:focus {
        border-color: blue($color: #000000) !important;
        box-shadow: none !important;
    }
}

.home label {
    color: white;
}

.table {
    margin: 20px;
    border: solid black 2px;
    text-align: center;
    vertical-align: center;
}

th {
    background-color: $blueDuck;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        color: black;
        text-decoration: underline;
    }
}

.nav {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $yellowChick;
    color: black;
}

h1 {
    text-align: center;
}