{% extends 'base.html.twig' %}

{% block title %}Dashboard User
{% endblock %}

{% block body %}
	<h1 class="display-2 m-4">My journeys</h1>
	<div class="mt-5 d-flex flex-column justify-content-center align-items-center">
		{% for rent in rents %}
			{{ include('employee/_travelCard.html.twig') }}
		{% endfor %}
	</div>
{% endblock %}
