<nav class="nav navbar-expand-lg navbar-admin">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
			<ul class="navbar-nav w-50 d-flex flex-row justify-content-around align-items-center">
				<li class="nav-item">
					<a aria-current="page" href="{{ path('app_car_index') }}">Cars</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_rent_index') }}">Rents</a>
				</li>
				<li class="nav-item">
					{% if app.user %}
						<a href="{{ path('app_logout') }}">
							Log out</a>
					{% else %}
						<a href={{path('app_login')}}>Log in</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>
